body{
  background-image: url("./assets/images/libreria.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
  background-color: #4d1a00;
}

.home-title-box{
  margin-top: 5%;
  text-align: center;
  text-shadow: 10px 10px 20px black, 0 0 1em black, 0 0 0.2em whitesmoke;
  color: hsla(0, 0%, 90%, 0.781);
  font-family: Copperplate, Papyrus, fantasy;
  /* font-family: "Lucida Handwriting", "Brush Script MT", cursive; */
  transition: 2s;
}
.home-title-box:hover{
  text-shadow: 10px 10px 20px white, 0 0 1em white, 0 0 0.2em white;
  color: black;
}
.home-title{
  font-size: 4em;
}

.title-secondary{
  margin-top: 0.5em;
  text-align: center;
  text-shadow: 10px 10px 20px white, 0 0 1em white, 0 0 0.2em white;
  color: black;
  font-size: 3em;
}

.card{
  margin-left: auto;
  margin-right: auto;
  margin-top: 8em;
  display: flex;
  flex-direction: column;
  background-color: #cccccc;
  border: 0.2em outset black;
  border-radius: 10%; 
}

#card-home{
  height: 12em;
  width: 10em;
  justify-content: space-evenly;
  align-items: center;
}

#card-ver_persona{
  justify-content: flex-start;
  height: 10em;
  width: 22em;
  overflow-x: auto;
  border-radius: 2%;
}

.imagen-personas{
  border-radius: 5px;
  border: 1px solid black;
}

#card-ver_categoria{
  justify-content: flex-start;
  height: 8em;
  width: 20em;
  overflow-x: auto;
  border-radius: 3%;
}

#card-ver_libro{
  justify-content: flex-start;
  height: 10em;
  width: 25em;
  overflow-x: auto;
  border-radius: 3%;
}

.table-list{
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  width: 40%;
  text-align: center;
  background-color: gray;
  color: black;
}

.table__data,
.table__head{
  border: 0.1em solid white;
}

.btn-list{
  display: flex;
  justify-content: space-evenly;
}

.form{
  border: 0.1em solid white;
  border-radius: 10%;
  height: 21em;
  width: 17em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6em;
  text-align: center;
  background-color: #cccccc;
}

#form-register_cat{
  border-radius: 3%;
  height: 10em;
  width: 15em;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#form-register_book{
  display:flex;
  flex-direction: column;
  align-items: center;
  height: 16em;
}

#form-borrow_book{
  border-radius: 3%;
  margin-top: 12em;
  height: 8em;
  width: 15em;
  display:flex;
  flex-direction: column;
  align-items: center;
}

#form-register_people{
  display:flex;
  flex-direction: column;
  align-items: center;
}

small{
  color: #cc0000;
}

.center-top{
  display:flex;
  justify-content: center;
  margin-top: 6em;
}

.center-bottom{
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.link{
  color: whitesmoke;
  font-size: 1.5em;
}

.link:hover{
  color:black;
}
